<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.ustc.sse.blockly.mapper.CheckoutpointMapper" >
  <resultMap id="BaseResultMap" type="team.ustc.sse.blockly.entity.Checkoutpoint" >
    <id column="checkOutPointID" property="checkoutpointid" jdbcType="INTEGER" />
    <result column="studentID" property="studentid" jdbcType="INTEGER" />
    <result column="toalTime" property="toaltime" jdbcType="TIME" />
    <result column="program" property="program" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    checkOutPointID, studentID, toalTime, program
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="team.ustc.sse.blockly.entity.CheckoutpointExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from checkoutpoint
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from checkoutpoint
    where checkOutPointID = #{checkoutpointid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from checkoutpoint
    where checkOutPointID = #{checkoutpointid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="team.ustc.sse.blockly.entity.CheckoutpointExample" >
    delete from checkoutpoint
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="team.ustc.sse.blockly.entity.Checkoutpoint" >
    insert into checkoutpoint (checkOutPointID, studentID, toalTime, 
      program)
    values (#{checkoutpointid,jdbcType=INTEGER}, #{studentid,jdbcType=INTEGER}, #{toaltime,jdbcType=TIME}, 
      #{program,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="team.ustc.sse.blockly.entity.Checkoutpoint" >
    insert into checkoutpoint
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="checkoutpointid != null" >
        checkOutPointID,
      </if>
      <if test="studentid != null" >
        studentID,
      </if>
      <if test="toaltime != null" >
        toalTime,
      </if>
      <if test="program != null" >
        program,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="checkoutpointid != null" >
        #{checkoutpointid,jdbcType=INTEGER},
      </if>
      <if test="studentid != null" >
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="toaltime != null" >
        #{toaltime,jdbcType=TIME},
      </if>
      <if test="program != null" >
        #{program,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="team.ustc.sse.blockly.entity.CheckoutpointExample" resultType="java.lang.Integer" >
    select count(*) from checkoutpoint
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update checkoutpoint
    <set >
      <if test="record.checkoutpointid != null" >
        checkOutPointID = #{record.checkoutpointid,jdbcType=INTEGER},
      </if>
      <if test="record.studentid != null" >
        studentID = #{record.studentid,jdbcType=INTEGER},
      </if>
      <if test="record.toaltime != null" >
        toalTime = #{record.toaltime,jdbcType=TIME},
      </if>
      <if test="record.program != null" >
        program = #{record.program,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update checkoutpoint
    set checkOutPointID = #{record.checkoutpointid,jdbcType=INTEGER},
      studentID = #{record.studentid,jdbcType=INTEGER},
      toalTime = #{record.toaltime,jdbcType=TIME},
      program = #{record.program,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="team.ustc.sse.blockly.entity.Checkoutpoint" >
    update checkoutpoint
    <set >
      <if test="studentid != null" >
        studentID = #{studentid,jdbcType=INTEGER},
      </if>
      <if test="toaltime != null" >
        toalTime = #{toaltime,jdbcType=TIME},
      </if>
      <if test="program != null" >
        program = #{program,jdbcType=VARCHAR},
      </if>
    </set>
    where checkOutPointID = #{checkoutpointid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.ustc.sse.blockly.entity.Checkoutpoint" >
    update checkoutpoint
    set studentID = #{studentid,jdbcType=INTEGER},
      toalTime = #{toaltime,jdbcType=TIME},
      program = #{program,jdbcType=VARCHAR}
    where checkOutPointID = #{checkoutpointid,jdbcType=INTEGER}
  </update>
</mapper>