<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.ustc.sse.blockly.mapper.GuardianMapper" >
  <resultMap id="BaseResultMap" type="team.ustc.sse.blockly.entity.Guardian" >
    <id column="guardianID" property="guardianid" jdbcType="INTEGER" />
    <result column="guardianName" property="guardianname" jdbcType="VARCHAR" />
    <result column="guardianGender" property="guardiangender" jdbcType="VARCHAR" />
    <result column="guardianEmail" property="guardianemail" jdbcType="VARCHAR" />
    <result column="guardianAge" property="guardianage" jdbcType="INTEGER" />
    <result column="guardianPhone" property="guardianphone" jdbcType="VARCHAR" />
    <result column="guardianAddress" property="guardianaddress" jdbcType="VARCHAR" />
    <result column="guardianRemark" property="guardianremark" jdbcType="VARCHAR" />
    <result column="guardianRegisterTime" property="guardianregistertime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    guardianID, guardianName, guardianGender, guardianEmail, guardianAge, guardianPhone, 
    guardianAddress, guardianRemark, guardianRegisterTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="team.ustc.sse.blockly.entity.GuardianExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from guardian
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from guardian
    where guardianID = #{guardianid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from guardian
    where guardianID = #{guardianid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="team.ustc.sse.blockly.entity.GuardianExample" >
    delete from guardian
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="team.ustc.sse.blockly.entity.Guardian" >
    <selectKey resultType="java.lang.Integer" keyProperty="guardianid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into guardian (guardianName, guardianGender, guardianEmail, 
      guardianAge, guardianPhone, guardianAddress, 
      guardianRemark, guardianRegisterTime)
    values (#{guardianname,jdbcType=VARCHAR}, #{guardiangender,jdbcType=VARCHAR}, #{guardianemail,jdbcType=VARCHAR}, 
      #{guardianage,jdbcType=INTEGER}, #{guardianphone,jdbcType=VARCHAR}, #{guardianaddress,jdbcType=VARCHAR}, 
      #{guardianremark,jdbcType=VARCHAR}, #{guardianregistertime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="team.ustc.sse.blockly.entity.Guardian" >
    <selectKey resultType="java.lang.Integer" keyProperty="guardianid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into guardian
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="guardianname != null" >
        guardianName,
      </if>
      <if test="guardiangender != null" >
        guardianGender,
      </if>
      <if test="guardianemail != null" >
        guardianEmail,
      </if>
      <if test="guardianage != null" >
        guardianAge,
      </if>
      <if test="guardianphone != null" >
        guardianPhone,
      </if>
      <if test="guardianaddress != null" >
        guardianAddress,
      </if>
      <if test="guardianremark != null" >
        guardianRemark,
      </if>
      <if test="guardianregistertime != null" >
        guardianRegisterTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="guardianname != null" >
        #{guardianname,jdbcType=VARCHAR},
      </if>
      <if test="guardiangender != null" >
        #{guardiangender,jdbcType=VARCHAR},
      </if>
      <if test="guardianemail != null" >
        #{guardianemail,jdbcType=VARCHAR},
      </if>
      <if test="guardianage != null" >
        #{guardianage,jdbcType=INTEGER},
      </if>
      <if test="guardianphone != null" >
        #{guardianphone,jdbcType=VARCHAR},
      </if>
      <if test="guardianaddress != null" >
        #{guardianaddress,jdbcType=VARCHAR},
      </if>
      <if test="guardianremark != null" >
        #{guardianremark,jdbcType=VARCHAR},
      </if>
      <if test="guardianregistertime != null" >
        #{guardianregistertime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="team.ustc.sse.blockly.entity.GuardianExample" resultType="java.lang.Integer" >
    select count(*) from guardian
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update guardian
    <set >
      <if test="record.guardianid != null" >
        guardianID = #{record.guardianid,jdbcType=INTEGER},
      </if>
      <if test="record.guardianname != null" >
        guardianName = #{record.guardianname,jdbcType=VARCHAR},
      </if>
      <if test="record.guardiangender != null" >
        guardianGender = #{record.guardiangender,jdbcType=VARCHAR},
      </if>
      <if test="record.guardianemail != null" >
        guardianEmail = #{record.guardianemail,jdbcType=VARCHAR},
      </if>
      <if test="record.guardianage != null" >
        guardianAge = #{record.guardianage,jdbcType=INTEGER},
      </if>
      <if test="record.guardianphone != null" >
        guardianPhone = #{record.guardianphone,jdbcType=VARCHAR},
      </if>
      <if test="record.guardianaddress != null" >
        guardianAddress = #{record.guardianaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.guardianremark != null" >
        guardianRemark = #{record.guardianremark,jdbcType=VARCHAR},
      </if>
      <if test="record.guardianregistertime != null" >
        guardianRegisterTime = #{record.guardianregistertime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update guardian
    set guardianID = #{record.guardianid,jdbcType=INTEGER},
      guardianName = #{record.guardianname,jdbcType=VARCHAR},
      guardianGender = #{record.guardiangender,jdbcType=VARCHAR},
      guardianEmail = #{record.guardianemail,jdbcType=VARCHAR},
      guardianAge = #{record.guardianage,jdbcType=INTEGER},
      guardianPhone = #{record.guardianphone,jdbcType=VARCHAR},
      guardianAddress = #{record.guardianaddress,jdbcType=VARCHAR},
      guardianRemark = #{record.guardianremark,jdbcType=VARCHAR},
      guardianRegisterTime = #{record.guardianregistertime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="team.ustc.sse.blockly.entity.Guardian" >
    update guardian
    <set >
      <if test="guardianname != null" >
        guardianName = #{guardianname,jdbcType=VARCHAR},
      </if>
      <if test="guardiangender != null" >
        guardianGender = #{guardiangender,jdbcType=VARCHAR},
      </if>
      <if test="guardianemail != null" >
        guardianEmail = #{guardianemail,jdbcType=VARCHAR},
      </if>
      <if test="guardianage != null" >
        guardianAge = #{guardianage,jdbcType=INTEGER},
      </if>
      <if test="guardianphone != null" >
        guardianPhone = #{guardianphone,jdbcType=VARCHAR},
      </if>
      <if test="guardianaddress != null" >
        guardianAddress = #{guardianaddress,jdbcType=VARCHAR},
      </if>
      <if test="guardianremark != null" >
        guardianRemark = #{guardianremark,jdbcType=VARCHAR},
      </if>
      <if test="guardianregistertime != null" >
        guardianRegisterTime = #{guardianregistertime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where guardianID = #{guardianid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.ustc.sse.blockly.entity.Guardian" >
    update guardian
    set guardianName = #{guardianname,jdbcType=VARCHAR},
      guardianGender = #{guardiangender,jdbcType=VARCHAR},
      guardianEmail = #{guardianemail,jdbcType=VARCHAR},
      guardianAge = #{guardianage,jdbcType=INTEGER},
      guardianPhone = #{guardianphone,jdbcType=VARCHAR},
      guardianAddress = #{guardianaddress,jdbcType=VARCHAR},
      guardianRemark = #{guardianremark,jdbcType=VARCHAR},
      guardianRegisterTime = #{guardianregistertime,jdbcType=TIMESTAMP}
    where guardianID = #{guardianid,jdbcType=INTEGER}
  </update>
</mapper>