<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.ustc.sse.blockly.mapper.GuardianloginmessageMapper" >
  <resultMap id="BaseResultMap" type="team.ustc.sse.blockly.entity.Guardianloginmessage" >
    <id column="guardianloginID" property="guardianloginid" jdbcType="INTEGER" />
    <result column="guardianID" property="guardianid" jdbcType="VARCHAR" />
    <result column="loginIP" property="loginip" jdbcType="VARCHAR" />
    <result column="loginData" property="logindata" jdbcType="TIMESTAMP" />
    <result column="loginMessage" property="loginmessage" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    guardianloginID, guardianID, loginIP, loginData, loginMessage
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="team.ustc.sse.blockly.entity.GuardianloginmessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from guardianloginmessage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from guardianloginmessage
    where guardianloginID = #{guardianloginid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from guardianloginmessage
    where guardianloginID = #{guardianloginid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="team.ustc.sse.blockly.entity.GuardianloginmessageExample" >
    delete from guardianloginmessage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="team.ustc.sse.blockly.entity.Guardianloginmessage" >
    <selectKey resultType="java.lang.Integer" keyProperty="guardianloginid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into guardianloginmessage (guardianID, loginIP, loginData, 
      loginMessage)
    values (#{guardianid,jdbcType=VARCHAR}, #{loginip,jdbcType=VARCHAR}, #{logindata,jdbcType=TIMESTAMP}, 
      #{loginmessage,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="team.ustc.sse.blockly.entity.Guardianloginmessage" >
    <selectKey resultType="java.lang.Integer" keyProperty="guardianloginid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into guardianloginmessage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="guardianid != null" >
        guardianID,
      </if>
      <if test="loginip != null" >
        loginIP,
      </if>
      <if test="logindata != null" >
        loginData,
      </if>
      <if test="loginmessage != null" >
        loginMessage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="guardianid != null" >
        #{guardianid,jdbcType=VARCHAR},
      </if>
      <if test="loginip != null" >
        #{loginip,jdbcType=VARCHAR},
      </if>
      <if test="logindata != null" >
        #{logindata,jdbcType=TIMESTAMP},
      </if>
      <if test="loginmessage != null" >
        #{loginmessage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="team.ustc.sse.blockly.entity.GuardianloginmessageExample" resultType="java.lang.Integer" >
    select count(*) from guardianloginmessage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update guardianloginmessage
    <set >
      <if test="record.guardianloginid != null" >
        guardianloginID = #{record.guardianloginid,jdbcType=INTEGER},
      </if>
      <if test="record.guardianid != null" >
        guardianID = #{record.guardianid,jdbcType=VARCHAR},
      </if>
      <if test="record.loginip != null" >
        loginIP = #{record.loginip,jdbcType=VARCHAR},
      </if>
      <if test="record.logindata != null" >
        loginData = #{record.logindata,jdbcType=TIMESTAMP},
      </if>
      <if test="record.loginmessage != null" >
        loginMessage = #{record.loginmessage,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update guardianloginmessage
    set guardianloginID = #{record.guardianloginid,jdbcType=INTEGER},
      guardianID = #{record.guardianid,jdbcType=VARCHAR},
      loginIP = #{record.loginip,jdbcType=VARCHAR},
      loginData = #{record.logindata,jdbcType=TIMESTAMP},
      loginMessage = #{record.loginmessage,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="team.ustc.sse.blockly.entity.Guardianloginmessage" >
    update guardianloginmessage
    <set >
      <if test="guardianid != null" >
        guardianID = #{guardianid,jdbcType=VARCHAR},
      </if>
      <if test="loginip != null" >
        loginIP = #{loginip,jdbcType=VARCHAR},
      </if>
      <if test="logindata != null" >
        loginData = #{logindata,jdbcType=TIMESTAMP},
      </if>
      <if test="loginmessage != null" >
        loginMessage = #{loginmessage,jdbcType=VARCHAR},
      </if>
    </set>
    where guardianloginID = #{guardianloginid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.ustc.sse.blockly.entity.Guardianloginmessage" >
    update guardianloginmessage
    set guardianID = #{guardianid,jdbcType=VARCHAR},
      loginIP = #{loginip,jdbcType=VARCHAR},
      loginData = #{logindata,jdbcType=TIMESTAMP},
      loginMessage = #{loginmessage,jdbcType=VARCHAR}
    where guardianloginID = #{guardianloginid,jdbcType=INTEGER}
  </update>
</mapper>