<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.ustc.sse.blockly.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="team.ustc.sse.blockly.entity.Student" >
    <id column="studentID" property="studentid" jdbcType="INTEGER" />
    <result column="studentName" property="studentname" jdbcType="VARCHAR" />
    <result column="studentPassword" property="studentpassword" jdbcType="VARCHAR" />
    <result column="studentGender" property="studentgender" jdbcType="VARCHAR" />
    <result column="studentAccount" property="studentaccount" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    studentID, studentName, studentPassword, studentGender, studentAccount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="team.ustc.sse.blockly.entity.StudentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from student
    where studentID = #{studentid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student
    where studentID = #{studentid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="team.ustc.sse.blockly.entity.StudentExample" >
    delete from student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="team.ustc.sse.blockly.entity.Student" >
    insert into student (studentID, studentName, studentPassword, 
      studentGender, studentAccount)
    values (#{studentid,jdbcType=INTEGER}, #{studentname,jdbcType=VARCHAR}, #{studentpassword,jdbcType=VARCHAR}, 
      #{studentgender,jdbcType=VARCHAR}, #{studentaccount,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="team.ustc.sse.blockly.entity.Student" >
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="studentid != null" >
        studentID,
      </if>
      <if test="studentname != null" >
        studentName,
      </if>
      <if test="studentpassword != null" >
        studentPassword,
      </if>
      <if test="studentgender != null" >
        studentGender,
      </if>
      <if test="studentaccount != null" >
        studentAccount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="studentid != null" >
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="studentname != null" >
        #{studentname,jdbcType=VARCHAR},
      </if>
      <if test="studentpassword != null" >
        #{studentpassword,jdbcType=VARCHAR},
      </if>
      <if test="studentgender != null" >
        #{studentgender,jdbcType=VARCHAR},
      </if>
      <if test="studentaccount != null" >
        #{studentaccount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="team.ustc.sse.blockly.entity.StudentExample" resultType="java.lang.Integer" >
    select count(*) from student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update student
    <set >
      <if test="record.studentid != null" >
        studentID = #{record.studentid,jdbcType=INTEGER},
      </if>
      <if test="record.studentname != null" >
        studentName = #{record.studentname,jdbcType=VARCHAR},
      </if>
      <if test="record.studentpassword != null" >
        studentPassword = #{record.studentpassword,jdbcType=VARCHAR},
      </if>
      <if test="record.studentgender != null" >
        studentGender = #{record.studentgender,jdbcType=VARCHAR},
      </if>
      <if test="record.studentaccount != null" >
        studentAccount = #{record.studentaccount,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update student
    set studentID = #{record.studentid,jdbcType=INTEGER},
      studentName = #{record.studentname,jdbcType=VARCHAR},
      studentPassword = #{record.studentpassword,jdbcType=VARCHAR},
      studentGender = #{record.studentgender,jdbcType=VARCHAR},
      studentAccount = #{record.studentaccount,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="team.ustc.sse.blockly.entity.Student" >
    update student
    <set >
      <if test="studentname != null" >
        studentName = #{studentname,jdbcType=VARCHAR},
      </if>
      <if test="studentpassword != null" >
        studentPassword = #{studentpassword,jdbcType=VARCHAR},
      </if>
      <if test="studentgender != null" >
        studentGender = #{studentgender,jdbcType=VARCHAR},
      </if>
      <if test="studentaccount != null" >
        studentAccount = #{studentaccount,jdbcType=VARCHAR},
      </if>
    </set>
    where studentID = #{studentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.ustc.sse.blockly.entity.Student" >
    update student
    set studentName = #{studentname,jdbcType=VARCHAR},
      studentPassword = #{studentpassword,jdbcType=VARCHAR},
      studentGender = #{studentgender,jdbcType=VARCHAR},
      studentAccount = #{studentaccount,jdbcType=VARCHAR}
    where studentID = #{studentid,jdbcType=INTEGER}
  </update>
</mapper>